@use '../themes/_default' as globalTheme;
@use '../base/_mixins' as globalMix;

.spinner {
  top: 50%;
  left: 50%;
  position: fixed;
  color: globalTheme.$primary-color;
  z-index: 10000 !important;
}
