// main color system - start

$body-bg: #f6f6f9;
$primary-color: #0dba4b;
$rating-golden-color: #ffdf0c;
$white: #fff;
$grey: #e3e3e3;
$black: #000;
$list-color: #c7d4ee;
$purple: #7a17eb;
$dim-color: #eef1f8;
$heavy-dim-color: #95a4c2;
$dark-color: #132241;
$dim-dark-color: #4c5a74;
$nav-image-color: #f1e8f9;
$nav-border-color: #ccc;
$nav-score-border-color: #dee2e6;
$whatsapp-color: #25d366;
$facebook-color: #4267b2;
$twitter-color: #1da1f2;
$telegram-color: #08c;
$background: #f6f7f8;
$background-color: #dddada;
$line-color: #b7b7b7;

// main color system - end

// ai-combo.html - start

$ai-combo-alert-color: #172642;
$ai-combo-banner-color: #2d3142;
$ai-combo-alert-highlight-color: #09d15e;
$ai-combo-subtitle-color: #132241;
$ai-combo-para-color: #3d4a63;
$ai-combo-green: #0eba4a;
$ai-combo-yellow: #f3cf31;
$ai-combo-blue: #4561f3;
$ai-combo-grey: #f5f8f8;
$ai-combo-card-color: #f8f9fb;
$ai-combo-light-grey: #9a9a9a;
$ai-combo-orange: #f78200;
$ai-combo-light-blue: #0082ff;
$ai-combo-thin-grey: #95a4c2;

// ai-combo.html - end

// iit-data-science.html - start

$data-science-text-grey: #757575;

// iit-data-science.html - end

// courses.html & category.html - start

$card-active: #f7f9fa;
$append-button: #007aff;
$progress-bg: #eef1f8;
$offer-color: #b60229;
$dropdown-selected: #e6f7e9;
$search-content: #707070;
$rupee: #4c5a74;

//course-tag gradient
$premium-start: rgba(222, 37, 117, 1);
$premium-end: rgba(255, 80, 48, 1);
$free-start: rgba(73, 152, 254, 1);
$free-end: rgba(5, 96, 213, 1);
$atomic-start: rgba(255, 128, 8, 1);
$atomic-end: rgba(255, 200, 55, 1);
$essential-start: rgba(177, 0, 255, 1);
$essential-end: rgba(127, 0, 255, 1);

// courses.html & category.html - start

// zen review - start

$zen-review-purple: rgba(75, 13, 186, 1);
$zen-review-light-salt-grey: rgba(126, 142, 159, 1);
$zen-content-text: rgba(38, 38, 49, 1);
$zen-red: rgba(255, 0, 0, 1);

// python-one-million
$python-heading-color: rgba(42, 42, 42, 1);
$python-seats: rgba(2, 89, 67, 1);
